svg{
  border-radius: 150px;
  filter: drop-shadow(6px 6px 3px rgb(0 0 0 / 0.6));
}
.App{
  position: relative;
  background-image:  url(./assets/Plants.png);
  background-size: cover;
}
.box-bar{
  /* background-color: red; */
  width: auto;
  height: auto;
  position: absolute;
}

.tank{
  position: absolute;
  width: 50px;
  height: 50px;
  top: -50px;
  left: 30px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}
.product{
  position: absolute;
  width: 55px;
  height: 30px;
  top: -30px;
  left: 30px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;
}
.product2{
  width: auto;
  max-width: 100px;
  height: 35px;

}
.product2-div{
  position: absolute;
  width: 105px;
  height: 30px;
  top: 20px;
  left: 15px;
  background-color: rgb(46, 227, 230);
  z-index: 90;
  display: flex;
  justify-content: flex-end;

  border-radius: 10px;
}
.product-unit{
  position: absolute;
  width: 55px;
  height: 30px;
  top: 26px;
  left: 65px;
  background-color: rgb(46, 227, 230);
  border-radius: 10px;
  
}

.loader-1{
  position: absolute;
  top: 22px;
  left: 120px;
  height: 14px;
  z-index: 99;
}
.loader-2{
  position: absolute;
  top: 22px;
  left: 135px;
  height: 14px;
  z-index: 99;
}
.loader-3{
  position: absolute;
  top: 22px;
  left: 150px;
  height: 14px;
  z-index: 99;
}
.loader-1-animated{
  animation: loading 1s linear 0s infinite normal none;

}
.loader-2-animated{
  animation: loading 1.5s linear 0s infinite normal none;

}
.loader-3-animated{
  animation: loading 2s linear 0s infinite normal none;

}

.wrapper{
  position: absolute;
  height: auto;
  width: 350px;
  display: flex;
  flex-direction: column;
}
.App{
  /* background-color: darkslategray; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button-group{
  margin-inline: auto;
  margin-top: 180px;
  width: 80px;
  display: flex;
  justify-content: space-around;
}
@keyframes loading{
  0% {
      transform:  rotate(360deg);
  }
  100% {
  }
}

.porcentage-div{
  position: absolute;
  top: 28px;
  left: 30px;
  width: 60px;
  height: auto;
  display: flex;
  justify-content: center;

}

.porcentage{
  height: 14px;
  z-index: 99;
  font-size: 21px;
  color: rgb(159, 182, 182);
  font-family: 'Roboto', sans-serif;
  font-family: 'Orbitron', sans-serif;
}

.loading{
  position: absolute;
  top: 62px;
  left: 120px;
  height: 14px;
  z-index: 99;
  font-size: 13px;
  color: rgb(159, 182, 182);
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Orbitron', sans-serif;
}

.mini-bar{
  position: absolute;
  top: 72px;
  left: 223px;
  height: 14px;
  z-index: 99;
  width: 60px;
  height: 4px;
}
.mini-bar-empty{
  position: absolute;
  top: 72px;
  left: 223px;
  height: 14px;
  z-index: 99;
  width: 65px;
  height: 4px;
  background-color: aliceblue;
  opacity: .3;
}
.button-1{
  color: aliceblue;
  background-color: red;
  border: none;
  border-radius: 5px;
  padding-inline: 10px;
}
.button-1:hover{
  transform: scale(1.1);
}
.button-2{
  color: aliceblue;
  background-color: green;
  border: none;
  border-radius: 5px;
  padding-inline: 8px;
}

.button-2:hover{
  transform: scale(1.1);
}


.stack-list{
  /* background-color: burlywood; */
  width: auto;
  max-width: 350px;
  min-width: 150px;
  position: absolute;
  top: 100px;
  left: 100px;
  padding: 10px;
  border-radius: 10px;
  background-image: linear-gradient(to top, rgba(13, 1, 1, 0), rgb(13, 3, 3));
}
.stack-list-bg{
  /* background-color: burlywood; */
  width: auto;
  max-width: 350px;
  min-width: 150px;
  position: absolute;
  top: 100px;
  left: 100px;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  opacity: 0.8;
}
.stack-list-element-1{
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: fade-in 2s linear 0s normal none;
}
.stack-list-element-2{
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.stack-list-element-fade{
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 0.6;
}
.list-image{
  height: 20px;
  width: 20px;
  margin-top: 4px;
}

.list-text{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  font-size: 10px;
  color: rgb(159, 182, 182);
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Orbitron', sans-serif;

}
@keyframes fade-in{
  0% {
      opacity: 0;
  }
  100% {
  }
}
.list-text-fade{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  opacity: 0.3;
}

.user-div{
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.user-input{
  margin-top: 20px;

}

.user-button{
  margin-top: 5px;
}


/* .arrow-1{
  position: absolute;
  height: 200px;
  width: 40px;
  background-color: aliceblue;
  border: 40px dashed black;
  left: 40px;
  top: 300px;
}  */

/* Arrow */

.arrow {
	position: relative;
  margin: 0 auto;
  width: 100px;
}

.arrow .curve {
	border: 2px solid #BE5F4B;
	border-color: transparent transparent transparent #BE5F4B;
	height: 360px;
	width: 1200px;
	border-radius: 230px 0 0 150px;
}

.arrow .point {
	position: absolute;
	left: 40px;
	top: 315px;
}

.arrow .point:before, .arrow .point:after {
	border: 1px solid #BE5F4B;
	height: 25px;
	content: "";
	position: absolute;
}

.arrow .point:before {
	top: -11px;
	left: -11px;
	transform:rotate(-74deg);
	-webkit-transform:rotate(-74deg);
  -moz-transform:rotate(-74deg);
  -ms-transform: rotate(-74deg);
}

.arrow .point:after {
  top: -20px;
	left: 5px;
	transform:rotate(12deg);
	-webkit-transform: rotate(12deg);
  -moz-transform:rotate(12deg);
  -ms-transform: rotate(12deg);
}

.arrow-1{
  position: absolute;
  width: 350px;
  height: 120px;
  top: 105px;
  left: 50px;

}
.arrow-2{
  /* clip-path: polygon(0 0, 100% 13%, 83% 100%, 13% 100%); */
  position: absolute;
  width: 400px;
  height: 450px;
  top: -240px;
  left: 50px;
  
}
.arrow-3{
  position: absolute;
  width: 350px;
  height: 120px;
  top: 105px;
  left: 50px;
  
}
.arrow-4{
  position: absolute;
  width: 350px;
  height: 240px;
  top: -160px;
  left: -90px;
  /* border: 3px solid black; */
  
}

.arrow-5{
  position: absolute;
  width: 270px;
  height: 440px;
  top: -360px;
  left: -250px;
  /* border: 3px solid black; */
  
}


.arrow-6{
  position: absolute;
  width: 250px;
  height: 180px;
  top: -80px;
  left: -90px;
  
}

.arrow-7{
  position: absolute;
  width: 250px;
  height: 280px;
  top: -200px;
  left: -60px;

}

.mini-circle-1{
  position: absolute;
  width: 35px;
  height: 35px;
  top:41px;
  left: -40px;
  border-radius: 100%;
  background-image: url('./assets/mini-bg.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

} 
  

.mini-circle-porcent{
  font-size: 14px;
  font-weight: 600;
  color: rgb(159, 182, 182);
  font-family: 'Roboto', sans-serif;
  font-family: 'Orbitron', sans-serif;
}
.mini-circle-2{
  position: absolute;
  width: 35px;
  height: 35px;
  top: 85px;
  left: -25px;
  border-radius: 100%;
  background-image: url('./assets/mini-bg.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}
.mini-circle-3{
  position: absolute;
  width: 35px;
  height: 35px;
  top: -5px;
  left: -25px;
  border-radius: 100%;
  background-image: url('./assets/mini-bg.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.mini-progress-bar{
  position: relative;
  top: -55px;
  left: 80px;
}

.porcentage-div-mini-bar{
  position: absolute;
  width: 35px;
  height: 35px;
  top: 18px;
  left: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.porcentage-mini-bar{
  
  z-index: 99;
  font-size: 13px;
  color: rgb(159, 182, 182);
  font-family: 'Orbitron', sans-serif;
}